/* English language */
.english { display: none; }

/* Portuguese language */
.portugues { display: block; }
li span.portugues { display: inline; }

/* Skill levels */
.level-advanced:after { content: " (Avançado)"; }
.level-intermediate:after { content: " (Intermediário)"; }
.level-beginner:after { content: " (Iniciante)"; }
