/* English language */
.english { display: none; }

/* Portuguese language */
.portugues { display: inherit; }

/* Skill levels
.level-advanced:after { content: " (Avançado)"; }
.level-intermediate:after { content: " (Intermediário)"; }
.level-beginner:after { content: " (Iniciante)"; } */

/* Languages */
.language-native, ul.cloud li.language-native { display: none; }
.language-fluent div:after { content: " fluente"; }
.language-advanced div:after { content: " avançado"; }
.language-beginner div:after { content: " básico"; }
.language-notions div:after { content: " (noções)"; }

/* Experience */
.activities:before { content: "Atividades:"; }
.projects:before { content: "Projetos:"; }