/* English language */
.english { display: inherit; }

/* Portuguese language */
.portugues { display: none }

/* Skill levels */
/*.level-advanced:after { content: " (Advanced)"; }
.level-intermediate:after { content: " (Intermediate)"; }
.level-beginner:after { content: " (Beginner)"; }*/

/* Languages */
.language-native div:after { content: " (native)"; }
.language-fluent div:after { content: " (fluent)"; }
.language-advanced div:after { content: " (advanced)"; }
.language-beginner div:after { content: " (begginer)"; }
.language-notions div:after { content: " (notions)"; }

/* Experience */
.activities:before { content: "Activities:"; }
.projects:before { content: "Projects:"; }